<h1>What do you need?</h1>

<p><%= link_to 'Show Balance', atm_show_bal_path %> |
<%= link_to 'Withdraw Cash', atm_transac_path%></p>


<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Button</button>
  <button class="btn btn-primary" type="button">Button</button>
</div>