<h1> Your account has  </h1>

<div class="container">
  <div class="row">
    <%= link_to 'Back to Home Screen', atm_index_path, class:"btn  btn-lg btn-outline-light col text-center" %>
    <%= link_to 'End Transaction', atm_signup_path, class:"btn  btn-lg btn-outline-light col text-center" %>
  </div>
</div>


