<div class="main-w3layouts wrapper">
  <h1>ABSYS ATM</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="#" method="post">
        <input class="text" type="text" name="Username" placeholder="Username" required="">
        <input class="text" type="password" name="password" placeholder="Password" required="">
        <!--          <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required=""> -->
        <div class="wthree-text">
          <div class="clear"> </div>
        </div>
        <%= link_to 'Sign Up', atm_index_path, method: :get, class: "btn btn-lg",  type: "button" %>
      </form>
      
      
    </div>
  </div>
  <!-- copyright -->
  <div class="colorlibcopy-agile">
    <p>© ABSYS ATM | All rights reserved</p>
  </div>
  <!-- //copyright -->
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>