<h1> Transaction Complete! <br/>
Please wait for cash to dispense. </h1>

<div class="container">
  <div class="row">
    <%= link_to 'Back to Home Screen', root_path, class:"btn  btn-lg btn-outline-light col text-center" %>
    <%= button_to 'End Transaction', destroy_baccount_session_path, method: :delete, data:{turbo: false}, class:"btn  btn-lg btn-outline-light col text-center"%>
  </div>
</div>